[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
pytest = "*"
black = "*"
coverage = "*"
pytest-cov = "*"

[packages]
pandas = "*"
label-studio = "*"
jupyterlab = "*"
tqdm = "*"
seaborn = "*"
spacy = ">=3.0.0"
spacy-transformers = ">=1.0.1"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
