[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
pytest = "*"
black = "*"

[packages]
pandas = "*"
spacy = "*"
label-studio = "*"
jupyterlab = "*"
tqdm = "*"
seaborn = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
